In [20]:
import pandas as pd
from random import choice 
from random import randint 
import os

In [21]:
female_names_df = pd.read_csv("FemaleNames.csv")
male_names_df = pd.read_csv("MaleNames.csv")
positions_df = pd.read_csv("Positions.csv")
surnames_df = pd.read_csv("Surnames.csv")

In [22]:
NUMBER_OF_ROWS_TO_BE_GENERATED = 1_000_000
SAVE_FILE_NAME = f"Generated_Dataset_{NUMBER_OF_ROWS_TO_BE_GENERATED}.csv"
WRITE_FILE = True
UNIQUE_SALARY = False # Will make sure that all of the salaries in the rows would be unique
MAX_SALARY = 1_000_000
MIN_SALARY = 100_000
SALARY_STEP = 10_000

In [23]:
fn_list = female_names_df["Name"].values.tolist()
mn_list = male_names_df["Name"].values.tolist()
pos_list = positions_df["Position"].values.tolist()
sur_list = surnames_df["Surname"].values.tolist()
gender = ["Male", "Female"]

In [24]:
salary_list = []
counter = 0
for _ in range(NUMBER_OF_ROWS_TO_BE_GENERATED):
    if UNIQUE_SALARY:
        while True:
            sal = randint(MIN_SALARY, MAX_SALARY, SALARY_STEP)
            print(f"{counter} {sal}")
            if sal not in salary_list:
                salary_list.append(sal)
                break 
    else:        
        sal = randint(MIN_SALARY / SALARY_STEP , MAX_SALARY / SALARY_STEP) * SALARY_STEP
        salary_list.append(sal)

    counter += 1

In [25]:
dataset = {
    "First Name" : [],
    "Last Name" : [],
    "Positions" : [],
    "Gender" : [],
    "Salary" : salary_list
}

for _ in range(NUMBER_OF_ROWS_TO_BE_GENERATED):
    if (randint(0, 1) == 0):
        dataset["Gender"].append(gender[0])
        dataset["First Name"].append(choice(mn_list))
    else:
        dataset["Gender"].append(gender[1])
        dataset["First Name"].append(choice(fn_list))

    dataset["Positions"].append(choice(pos_list))
    dataset["Last Name"].append(choice(sur_list))

In [26]:
for x in dataset:
    print(f"{x} : {len(dataset[x])}")

First Name : 1000000
Last Name : 1000000
Positions : 1000000
Gender : 1000000
Salary : 1000000

In [27]:
output_df = pd.DataFrame(dataset)
output_df.head()

,First Name,Last Name,Positions,Gender,Salary
0,Angel,Ocampo,Chief operating officer (COO),Female,180000
1,John Mark,Mahinay,Marketing manager,Male,780000
2,Joshua,Gaspar,Chief financial officer or controller (CFO),Male,650000
3,Adrian,Balingit,Chief technology officer (CTO),Male,500000
4,John Mark,Candelario,Vice president,Male,600000

In [28]:
output_df.to_csv(SAVE_FILE_NAME)